<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>API</title>
</head>
<body>
    <h1> AGENTS LIST: ADMIN ONLY VIEW</h1>
    <a href="agentsListLoggedIn">Login</a><h3> To View Agents List</h3>
   <h4><a href="signup">Sign Up as Agent</a></h4> 
    <br>
    <h4><a href="/beema">Home</a></h4>

</body>
</html>