
<%-include ('header'); -%>
<body>
<main>
    <h1>Agent PROFILE: Certified 
        <h3>SocialTree: FB. TWX. In. INST</h3> 
        <h4>Link: Url://app.lounge/this:id</h4>
        <br>
        <h4>Carriers I Work With:</h4>
        <li><a href="campaignProfile">Brand One</a></li>
        <li><a href="campaignProfile">Brand Two</a></li>
        <li><a href="campaignProfile">Brand Three</a></li>
        <br>
        <br>
        <h4><a href="/beema">Home</a></h4>
    </h1>
</main>
<%-include ('footer'); -%>
<script>
    // Hamburger menu toggle
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('nav');

    hamburger.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>
</body>
</html>
