<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
</head>
<body>
    <h1>CURRENT CAMPAIGNS</h1>
    <h3>One: Brand 1</h3>
    <h3>Two: Brand 2</h3>
    <h3>Three: Brand 3</h3>

</body>
</html>