
<%-include ('header'); -%>
<body>
<main>
    <h1> CAMPAIGN PROFILE 
        <h4>Fund: $00.00</h4>
        <h4>Reach: ALL </h4>
    </h1>
<br>
    <h3>Agents On This Campaign</h3>
    <li><a href="agent">Agent One</a></li>
    <li><a href="agent">Agent Two</a></li>
    <li><a href="agent">Agent Three</a></li>

    <br>
    <a href="signup">Sign Up as Agent for this Brand</a>
    <br>
    <h4><a href="/beema">Home</a></h4>
</main>
<%-include ('footer'); -%>
<script>
    // Hamburger menu toggle
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('nav');

    hamburger.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>
</body>
</html>