<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title><%-title%></title>
</head>
<body>
    <h1> CAMPAIGN PROFILE 
        <h4>Fund: $00.00</h4>
        <h4>Reach: ALL </h4>
    </h1>
<br>
    <h3>Agents On This Campaign</h3>
    <li><a href="agent">Agent One</a></li>
    <li><a href="agent">Agent Two</a></li>
    <li><a href="agent">Agent Three</a></li>

    <br>
    <a href="signup">Sign Up as Agent for this Brand</a>
</body>
</html>