<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

    <title><%-title%></title>
</head>
<body>
    <h1>CURRENT CAMPAIGNS</h1>
    <li><a href="campaignProfile">Brand One Campaign</a></li>
    <li><a href="campaignProfile">Brand Two Campaign</a></li>
    <li><a href="campaignProfile">Brand Nth Campaign</a></li>
    <br>
    <a href="signup"></h2>Launch Campaign</h2></a>
    <br>
    <h4><a href="/beema">Home</a></h4>

    
    
</body>
</html>