<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Carrier Dev API</title>
</head>
<body>
    <h1> Welcome to the Beema Carrier API.<h2>Connect your platforms fast and directly.</h2> </h1>
    <br>
    <h4><a href="/alert">Get Started Now</a></h4>

    <h4><a href="/beema">Home</a></h4>

</body>
</html>