<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>API</title>
</head>
<body>
    <h1> {API VIEW}<h2>Connect your platforms directly. Firehose.</h2> </h1>
    <br>
    <h4><a href="/">Home</a></h4>

</body>
</html>