
<%-include ('header'); -%>
<body>
<main>
    <h1> COMMUNITY PROFILE 
        <h2>Socials: FB. TWX. In. INST</h2> 
        <h4>Fund: $00.00</h4>
        <br>
        <a href="signup">Create Capo for this Community</a>
        <br>
        <h4><a href="/beema">Home</a></h4>
    </h1>
</main>
<%-include ('footer'); -%>
<script>
    // Hamburger menu toggle
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('nav');

    hamburger.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>
</body>
</html>