<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title><%-title%></title>
</head>
<body>
    <h1> COMMUNITY PROFILE 
        <h2>Socials: FB. TWX. In. INST</h2> 
        <h4>Fund: $00.00</h4>
        <br>
        <a href="signup">Create Capo for this Community</a>
        <br>
    <h4><a href="/">Home</a></h4>
    </h1>
</body>
</html>