<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

    <title><%-title%></title>
</head>
<body>
    <h1>Community Groups</h1>
    <a href="/community">Community 1</a>
    <a href="/community">Community 2</a>
    <a href="/community">Community 3</a>
    <a href="signup"></h2>Create Community
    </h2></a>
</body>
</html>