
<%-include ('header'); -%>
<body>
<main>
    <h1>Community Groups</h1>
    <a href="/community">Community 1</a>
    <a href="/community">Community 2</a>
    <a href="/community">Community 3</a>
    <br>
    <br>
    <a href="signup"></h2>Create Community
    </h2></a>
    <br>
    <h4><a href="/">Home</a></h4>
</main>
<%-include ('footer'); -%>
<script>
    // Hamburger menu toggle
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('nav');

    hamburger.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>
</body>
</html>