<footer>
    <div class="footer-container">
        <div class="footer-links">
            <div class="footer-column">
                <a href="/signup">SignUp</a>
                <a href="/loungeFeed">Live Feed</a>
                <a href="communityList">Communites</a>
                <a href="user">User Profiles</a>
            </div>
            <div class="footer-column">
                <a href="/renewals">Renewals</a>
                <a href="/agents">Agents</a>
                <a href="/loungeFeed">CAPOS Verified Users</a>
            </div>
            <div class="footer-column">
                <a href="/campaigns">Campaigns</a>
                <a href="/alert">Your Beema ID</a>
            </div>
            <div class="footer-column">
                <a href="/carrier">Developer</a>
                <a href="/campaigns">Carriers</a>
                <a href="/campaigns">Products</a>
            </div>
        </div>
        <div class="copyright">
            Copyright © 2025 Cam Roy Ltd. All rights reserved.
        </div>
    </div>
</footer>
