<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beema</title>
    <link rel="stylesheet" href="/css/indexStyles.css" type="text/css">
</head>
<body>
    <header>
        <div class="nav-container">
            <div class="logo">beema</div>
            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/renewals">Renewals</a></li>
                    <li><a href="/campaigns">Campaigns</a></li>
                    <li><a href="/communityList">CommunityGroups</a></li>
                    <li><a href="/agentList">Agents</a></li>
                    <li><a href="/carrier">Developer</a></li>
                    <li><a href="/alert">LOGIN</a></li>
                    <li><a href="/signup">SignUp</a></li>
                    <h5><a href="search">Search</a>

                </ul>

            </nav>
        </div>
    </header>