<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1> INDEX VIEW <h2>All you need to start. And more+</h2> </h1>
    <h4><a href="/beema">Enter Site as Guest</a></h4>
    <a href="alert">LogIn</a></h5>

    <br>
</body>
</html>