<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1> INDEX VIEW <h2>All you need to start. And more+</h2> </h1>
    <a href="/404">404</a>
    <a href="/campaigns">Campaigns</a>
    <a href="/renewals">Renewals</a>
    <a href="/about">About</a>
    <a href="/user">User</a>
    <a href="/signup">SignUp</a>
    <a href="/loungeFeed">CapoLounge</a>
    <a href="/communityList">Groups</a>
    <a href="/carrier">Carriers</a>
    <a href="/agent">Agent</a>


    <h5>Sign In</h5>

</body>
</html>