
<%-include ('header'); -%>
<body>
<main>
    <h2> Your Lounge PROFILE: Share to Invite </h2>
       <h3> SocialTree: FB. TWX. In. INST</h3> 
        <h4>Link: Url://app.lounge/this:id</h4>
    </h1>
    <br>
    <h4><a href="payout">Request Payout</a></h4>
    <br>
    <h4><a href="/">Home</a></h4>
</main>
<%-include ('footer'); -%>
<script>
    // Hamburger menu toggle
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('nav');

    hamburger.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>
</body>
</html>