<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1> Your Lounge PROFILE: Share to Invite 
        <h3>SocialTree: FB. TWX. In. INST</h3> 
        <h4>Link: Url://app.lounge/this:id</h4>
    </h1>
    <br>
    <h4><a href="/">Home</a></h4>
</body>
</html>