
<%-include ('header'); -%>
<body>
<main>
    <h1> RENEWALS VIEW <h2>All your upcoming renewals.</h2> </h1>
    <h2><a href="renewalsList">Login to View</a></h2>
    <br>
    <h4><a href="/beema">Home</a></h4>
</main>
<%-include ('footer'); -%>
<script>
    // Hamburger menu toggle
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('nav');

    hamburger.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>
</body>
</html>