
<%-include ('header'); -%>
<body>
<main>

    <div style="position: fixed; top: 43%; left: 50%; transform: translate(-50%, -50%); width: 85%; max-width: 320px; background: linear-gradient(145deg, #fbfafa, #fbfbfb); padding: 20px; border-radius: 12px; box-shadow: -8px -8px 12px rgba(255, 77, 77, 0.1), 8px -8px 12px rgba(77, 255, 77, 0.1), -8px 8px 12px rgba(77, 77, 255, 0.1), 8px 8px 12px rgba(255, 255, 77, 0.1), 0 4px 12px rgba(0, 0, 0, 0.02), inset 0 1px 0 rgba(255, 255, 255, 0.15); text-align: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; color: #454646;">
        <h1> RENEWALS </h1>
        <br>
        <h2>All your upcoming renewals.</h2> 
        <br>
        <h2><a href="renewalsList">Login to View</a></h2>
        <br>
    </div>
    
</main>
<%-include ('footer'); -%>
<script>
    // Hamburger menu toggle
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('nav');

    hamburger.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>
</body>
</html>