<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

    <title><%-title%></title>
</head>
<body>
    <h1>Upcoming Renewals: Filter by Date</h1>
   <li>
    <a href="/user">User 1: Redacted</a>
   </li> 
   <li>
    <a href="/user">User 2: Redacted</a>
   </li>
   <li>
    <a href="/user">User Nth: Redacted</a>
   </li>
    <br>
    <br>
    <a href="signup"></h2>Create Community
    </h2></a>
    <br>
    <h4><a href="/beema">Home</a></h4>
</body>
</html>