

<%-include ('header'); -%>
<body>
<main>
    <h1>Upcoming Renewals: Filter by Date</h1>
   <li>
    <a href="/user">User 1: Redacted</a>
   </li> 
   <li>
    <a href="/user">User 2: Redacted</a>
   </li>
   <li>
    <a href="/user">User Nth: Redacted</a>
   </li>
    <br>
    <br>
    <a href="signup"></h2>Create Community
    </h2></a>
    <br>
    <h4><a href="/beema">Home</a></h4>
</main>
<%-include ('footer'); -%>
<script>
    // Hamburger menu toggle
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('nav');

    hamburger.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>
</body>
</html>