<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <h5><a href="user">Login</a> To Request Complete User Profile</h5>
    <h1> USER PROFILE 
        <h2>Socials: FB. TWX. In. INST</h2> 
        <h2>Policy & Renewal: 3PC Today</h2>
        <br>
        <h4><a href="/beema">Home</a></h4>

    </h1>
</body>
</html>