
<%-include ('header'); -%>
<body>
<main>
    <h5><a href="user">Login</a> To Request Complete User Profile</h5>
    <h1> USER PROFILE 
        <h2>Socials: FB. TWX. In. INST</h2> 
        <h2>Policy & Renewal: 3PC Today</h2>
        <br>
        <h4><a href="/beema">Home</a></h4>

    </h1>
</main>
<%-include ('footer'); -%>
<script>
    // Hamburger menu toggle
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('nav');

    hamburger.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>
</body>
</html>