
<%-include ('header'); -%>
<body>
<main>
    <h5><a href="user">Login</a> To Request Complete User Profile</h5>
    <h1> USER PROFILE 
        <h2>Socials: Insta X </h2>
        <h2>Current Policies: 3P, OP </h2>
        <h2>Groups: She Mercedes </h2>
        <h2>Regime: 5 </h2>

        <br>
        <h4>Display Ad: One</h4>
        <h5>Display Ad: Two</h5>
        <h5>Display Ad: Internal</h5>
        <br>
        <h4><a href="/beema">Home</a></h4>


    </h1>
</main>
<%-include ('footer'); -%>
<script>
    // Hamburger menu toggle
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('nav');

    hamburger.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>
</body>
</html>